.container {
  width: 90vw;
  height: 40vh;
  display: flex;
  flex-direction:column ;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.5);
  justify-content: center;
  margin: auto; 
  text-align: center;
  align-items: center;
}
.screenshot {
  width: 60vw;
  padding-bottom: 10px;
}




.container:hover {
  background-color: #dfdfdf;
}

@media only screen and (min-width: 800px){
 
  .container{
    width:45vw;
  }
  .screenshot {
    width:30vw;
  }
}


